*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, Helvetica, sans-serif;
}

body{
    background:#f2f2f2;
}

.app{
    width:100%;
}

.main{
    width:95%;
    margin:20px auto;
    display:flex;
    gap:20px;
}

.form-area{
    flex:1;
    background:white;
    border-radius:10px;
    padding:20px;
}

.form-area h2{
    background:#2d8c3c;
    color:white;
    padding:15px;
    border-radius:5px;
}

@media(max-width:1000px){

.main{

    flex-direction:column;

}

.sidebar{

    width:100%;

}

.form-area{

    width:100%;

}

}

@media(max-width:768px){

.form-grid{

    grid-template-columns:1fr;

}

.bottom-grid{

    grid-template-columns:1fr;

}

.header-buttons{

    right:10px;

    top:10px;

}

.banner{

    height:130px;

}

.category-container{

    justify-content:center;

}

}