.sidebar{
    width:300px;
}

.pass-box{

    background:white;

    border-radius:10px;

    padding:20px;

    margin-bottom:20px;

}

.pass-box h3{

    color:#2d8c3c;

    margin-bottom:10px;

}

.change-btn{

    width:100%;

    background:red;

    color:white;

    border:none;

    padding:10px;

    margin-bottom:15px;

    cursor:pointer;

}

.pass-name{

    font-size:18px;

    margin-bottom:10px;

}

.price{

    font-size:28px;

    color:#333;

    margin-bottom:20px;

}

.pass-box input{

    width:100%;

    padding:10px;

    margin-top:15px;

}

.validate-btn{

    width:100%;

    background:red;

    color:white;

    padding:12px;

    border:none;

    margin-top:15px;

    cursor:pointer;

}

.badge{

    background:white;

    border-radius:10px;

    padding:20px;

    text-align:center;

}

.badge h3{

    color:#2d8c3c;

    margin-bottom:20px;

}

.badge img{

    width:150px;

    margin-bottom:20px;

}

.badge h2{

    margin-bottom:10px;

}

.badge p{

    margin:5px 0;

}

.badge button{

    width:100%;

    background:green;

    color:white;

    border:none;

    padding:15px;

    margin-top:20px;

    border-radius:5px;

}

.badge-category{

    margin-top:20px;

    background:#2d8c3c;

    color:white;

    padding:15px;

    border-radius:5px;

    font-weight:bold;

}

.badge small{

    display:block;

    margin-top:15px;

    color:gray;

}